.grid-container-admin {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto;
    width: 570px;
    height: 230px;
    padding: 4px;
  }
  
  .grid-item-admin {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid aqua;
    padding-top: 10px;
    font-size: 15px;
    text-align: center;
    height: 80px;
    width: 270px;
  }

  .grid-2{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    }
    
  .grid-2 > div {
    background-color: rgb(255,255,255);
    font-size: 15px;
  }
  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
    }
  
  